allow cameraserver gpu_device:chr_file rw_file_perms;

allow cameraserver system_server:unix_stream_socket { read write };

# Note: This is a neverallow without system_writes_vendor_properties_violators
set_prop(cameraserver, vendor_camera_prop)
